<ion-view view-title="Dialogs" class="bar-balanced" ng-controller="DialogCtrl as vm">
  <ion-content>
    <button class="button button-block button-outline button-assertive" ng-click="vm.alert()">Alert</button>
    <button class="button button-block button-outline button-assertive" ng-click="vm.confirm()">Confirm</button>
    <button class="button button-block button-outline button-assertive" ng-click="vm.prompt()">Prompt</button>
    <button class="button button-block button-outline button-assertive" ng-click="vm.beep()">Beep</button>
  </ion-content>
</ion-view>
